body {
    font-family: "Roboto", sans-serif;
    /*-----HEADER----*/
}
header > div {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
a {
    text-decoration: none;
    color: black;
}
.fa-arrow-left {
    color: black;
}
header>img {
    width:45% ;
}

  /*---ACCEUIL---*/
.proj-food__image {
    width: 50%;
    height: 30%;
}
.fa-map-marker-alt {
    color: black;
}
header p {
    background-color: #EAEAEA;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    margin-left: -6px;
    padding-right: 10px;
    text-align: center;
}
header p input {
    border-width: 0px;
    background-color: #EAEAEA;
    text-align: center;
    font-weight: bolder;
}

    /*----Section 1----*/

.image2 {
    margin-left: -4px;
    height: 170px;
}
.title {
    display: flex;
    width:100% ;
    background-color: #f2f2f2;
    font-family: "Shrikhand", cursive;
}
     .fa-heart .coeur:hover  {
        color: #9356DC;
        font-weight: bold;
    }

   /*---ACCEUIL---*/
   .proj-food__keep {
    font-size: 24px;
    text-align: center;
}
.proj-food__discover {
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
}
.proj-food__resto {
    border-width: 0px;
    background-color: #FF79DA;
    border-radius: 20px 20px;
    padding: 10px;
    display: flex;
    color: #f7f7f7;
    font-weight: bold;
}
   /*---SECTION 2 ---*/
   /*-----ANIMATION---*/
@keyframes transparence {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.eat {
    animation: transparence 1s;
}
.eat1 {
        animation: transparence 3s;
}
.eat2 {
    animation: transparence 5s;
}

.eat, .eat1, .eat2 {
    margin-bottom:50px;
}
.menus {
    background-color: #f2f2f2;
}
p.entrees, p.plats, p.desserts {
    width: 10%;
}
    .entrees:hover, .plats:hover, .desserts:hover {
        border-bottom: 3px solid #99E2D0;
    }

.plat {
    background-color: white;
    width: 95%;
    border-radius: 15px 15px;
    padding-left: 5px;
    box-shadow: 5px 5px 10px #d4d0d0;
}
.name {
        padding-top: 10px;
        font-weight: bolder;
        font-size: 14px;
}
.prix {
            padding-bottom: 5px;
            font-size: 14px;
            opacity: 0.7;
            display: flex;
            justify-content: space-between;
            width: 90%;
}
em {
    font-weight: bold;
    font-size: 14px;
}
   /*---ACCEUIL---*/
   .proj-food__operation {
    width: 100%;
    font-size: 22px;
}
.proj-food__fonction {
    width: 95%;
    list-style: none;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fonctionnement {
    background-color: white;
}
   /*--SECTION 3---*/

   .commande {
    display: flex;
    justify-content: center;
   }
    .commander {
        background-color: #FF79DA;
        border-radius: 20px 20px;
        width: 100%;
        padding: 10px;
        color: white;
        text-align: center;
        font-weight: bold;
    }
   /*---ACCEUIL---*/
.liste {
    height: 1150px;
    width: 100%;
    padding-left: 5px;
    padding-right: 0px;
    margin-left: -6px;
}
.article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.article > div { 
width: 100%;
height: 240px;
border-radius: 20px 20px;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
margin-bottom: 20px;
background-color: white;
}
img {
    width: 100%;
    height: 180px;
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    object-fit: cover;
}

.btn {
    font-weight: bold;
    margin: 5px;
    font-size: 14px;
}
.btn__comment {
    margin: 5px;
    font-size: 15px;
    opacity: 0.8;
}
i.fas.fa-heart {
    font-weight: normal;
    display: flex;
    justify-content: flex-end;
    margin-top: -35px;
    width: 100%;
    font-size: 20px;
    transition-duration: 2s;
}
p.new {
    position: absolute;
    right: 15px;
    color: #008766;
    background-color: #99E2D0;
    font-weight: bold;
    font-size: 15px;
    padding: 7px;
}

   /*---FOOTER---*/

footer {
    background-color: #353535;
    width: 100%;
    height: 200px;
    padding-left: 12px;
    margin-left: -7px;
}
    img {
        width: 40%;
        height: 30%;
        object-fit: contain;
        margin-left: 20px;

}
.fa-utensils, .fa-hands-helping {
    color: white;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}
footer > a {
    color: white;
}
footer > p {
    margin-left: 20px;
}


