$option:#FF79DA;
$color :#99E2D0;
$primery:#9356DC;
.proj > div {
  width: 100%;
  height: 20%;
  background-color: white;
  margin-top: -8px;
  padding-top: 5px;
  margin-left: -7px;
  padding-left: 12px;
  display: flex;
  justify-content: space-evenly;
}

.fa-check-circle {
  position: fixed;
  margin-top: -67px;
  margin-left: 215px;
  color: white;
  font-size: 20px;
}
 @keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

 @keyframes roll-in-right{0%{transform:translateX(800px) rotate(540deg);opacity:0}100%{transform:translateX(0) rotate(0deg);opacity:1}}
.proj-food {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.proj-food__image {
  width: 50%;
  height: 30%;
  border-radius: 0px 0px;
}

header p {
  background-color: #d4d2d4;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
  margin-left: -6px;
  padding-right: 10px;
  text-align: center;
}

header p input {
  border-width: 0px;
  background-color: #d4d2d4;
  text-align: center;
  font-weight: bolder;
}

.presentation {
  background-color: #f2f2f2;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: -8px;
  padding-right: 15px;
}

.fa-map-marker-alt {
  color: black;
}

.proj-food__keep {
  width: 100%;
  margin-top: 15px;
  font-size: 24px;
  text-align: center;
}

.proj-food__discover {
  width: 100%;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  margin-top: -15px;
}

.proj-food__resto {
  border-width: 0px;
  background-color: #FF79DA;
  border-radius: 20px 20px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  color: #f7f7f7;
  font-weight: bold;
  background: radial-gradient(#a16be0 0%, #ff46cc 100%);
  box-shadow: 2px 2px 2px #9356DC;
}

.proj-food__operation {
  width: 100%;
  font-size: 22px;
}

.proj-food__fonction {
  width: 100%;
  list-style: none;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.proj-food__fonction li {
  margin-bottom: 15px;
}

.proj-food__fonction li button {
  border-width: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 0px;
  border-radius: 15px 15px;
  background-color: #f7f7f7;
}

.proj-food__fonction li button a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-weight: bold;
}

strong {
  margin-right: 10px;
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
}

i {
  color: #8b8f8c;
}

.liste {
  background-color: #f2f2f2;
  padding-top: 5px;
  height: 1150px;
  width: 100%;
  padding-left: 12px;
  padding-right: 0px;
  margin-left: -6px;
}

.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.article div {
  width: 90%;
  height: 230px;
  border-radius: 20px 20px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  background-color: white;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.liste div button {
  background-color: white;
  border-width: 0px;
  width: 80%;
  text-align: left;
}

.fa-heart:hover {
  color: #FF79DA;
}

i.fas.fa-heart {
  font-weight: normal;
  display: flex;
  justify-content: center;
  margin-top: -35px;
  width: 150%;
  font-size: 20px;
  transition-duration: 4s;
}

i.fas.fa-heart:hover {
  font-weight: 900;
}

img {
  width: 100%;
  height: 180px;
  border-top-right-radius: 20px 20px;
  border-top-left-radius: 20px 20px;
  object-fit: cover;
}

.btn {
  font-weight: bold;
  margin-bottom: 0px;
  margin: 5px;
  font-size: 14px;
}

.btn__comment {
  margin: 5px;
  font-size: 14px;
  opacity: 0.8;
}

footer {
  background-color: #424242;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  padding-left: 12px;
  margin-left: -7px;
}

footer a {
  color: white;
}

footer img {
  width: 40%;
  height: 30%;
  border-radius: 0px 0px;
  object-fit: contain;
  margin-left: 20px;
}

footer p {
  margin-left: 20px;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.fa-utensils, .fa-hands-helping {
  color: white;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.image {
  height: 50%;
  border-radius: 0px 0px;
  width: 50%;
  margin-bottom: 8px;
  object-fit: contain;
  margin-left: -70px;
}

.image2 {
  margin-left: -8px;
  width: 100%;
  border-radius: 0px 0px;
  padding-left: 20px;
margin-left: -24px;
}

.coeur {
  margin-top: -80px;
}

.titre {
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: -89px;
  font-family: "Shrikhand", cursive;
}

.entrees, .plats, .desserts {
  margin-left: 15px;
  width: 10%;
  font-family: "roboto", cursive;
}

.entrees:hover {
  border-bottom: 3px solid #99E2D0;
}

.plats:hover {
  border-bottom: 3px solid #99E2D0;
}

.desserts:hover {
  border-bottom: 3px solid #99E2D0;
}

.fricassee, .foie, .oeuf, .filet, .parmentier, .turbot, .paris, .Macaron, .mousse {
  background-color: white;
  width: 95%;
  border-radius: 15px 15px;
  padding-left: 5px;
  box-shadow: 5px 5px 10px #d4d0d0;
  animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
  transition-duration: 4s;

 &:active {
    >.fa-check-circle {
      background-color: $color;
      padding-left: 20px;
      padding-right: 16px;
      padding-top:17px ;
      padding-bottom: 17px;
      border-top-right-radius: 15px 15px;
      border-bottom-right-radius: 15px 15px;
      transition-duration: 4s; 
      animation:roll-in-right .6s ease-out both;
    }
}
}
.fricassee, .foie, .oeuf, .filet, .parmentier, .turbot, .paris, .Macaron, .mousse{
&:active{
  em {
    margin-right: 40px;
    transition-duration: 2s;
}
}
}
.prix {
  margin-top: -10px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.name {
  padding-top: 10px;
  font-weight: inherit;
  font-size: 14px;
}

em {
  font-weight: bold;
  font-size: 14px;
}

.palettes {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

.commander {
  background-color: #FF79DA;
  border-radius: 20px 20px;
  width: 90%;
  padding: 10px;
  color: white;
  text-align: center;
  font-weight: normal;
  background: radial-gradient(#a16be0 0%, #ff46cc 100%);
  box-shadow: 2px 2px 2px #9356DC;
}

.commande {
  display: flex;
  justify-content: center;
  margin-top: -79px;
}
.eat, .eat1, .eat2 {
  margin-bottom: 60px;
}
.title {
  margin-top: 100px;
}
.proj-enchantee {
  background-color: #f2f2f2;
}

.ravioles, .caviar, .homard, .coquilles, .langoustine, .mijoté, .macaron, .baba, .tarte {
  background-color: white;
  width: 95%;
  border-radius: 15px 15px;
  padding-left: 5px;
  box-shadow: 5px 5px 10px #d4d0d0;
  animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
  transition-duration: 4s;
  &:active {
    >.fa-check-circle {
      background-color: $color;
      padding-left: 20px;
      padding-right: 16px;
      padding-top:17px ;
      padding-bottom: 17px;
      border-top-right-radius: 15px 15px;
      border-bottom-right-radius: 15px 15px;
      transition-duration: 4s; 
      animation:roll-in-right .6s ease-out both;
    }
}
}
.ravioles, .caviar, .homard, .coquilles, .langoustine, .mijoté, .macaron, .baba, .tarte {
  &:active{
    em {
      margin-right: 40px;
      transition-duration: 2s;
  }
  }
}

.proj-francaise {
  background-color: #f2f2f2;
}

.tartare, .veloute, .soupe, .magret, .pigeonneau, .petale, .fondant, .millefeuille {
  background-color: white;
  width: 95%;
  border-radius: 15px 15px;
  padding-left: 5px;
  box-shadow: 5px 5px 10px #d4d0d0;
  animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
  transition-duration: 4s;
  &:active {
    >.fa-check-circle {
      background-color: $color;
      padding-left: 20px;
      padding-right: 16px;
      padding-top:17px ;
      padding-bottom: 17px;
      border-top-right-radius: 15px 15px;
      border-bottom-right-radius: 15px 15px;
      transition-duration: 4s; 
      animation:roll-in-right .6s ease-out both;
    }
}
}
.tartare, .veloute, .soupe, .magret, .pigeonneau, .petale, .fondant, .millefeuille {

&:active{
  em {
    margin-right: 40px;
    transition-duration: 2s;
}
}
}
.proj-delice {
  background-color: #f2f2f2;
}
.bouchee, .poulet, .angus, .langouste, .farandole, .brule, .tiramisu{
  &:active{
    em {
      margin-right: 40px;
      transition-duration: 2s;
  }
  }
}
.fa-arrow-left:focus {
    body{
      visibility: hidden;
      transition-duration: 5s;
      background-image: url(ohmyfood.png);
    }
  }
.bouchee, .poulet, .angus, .langouste, .farandole, .brule, .tiramisu {
  background-color: white;
  width: 95%;
  border-radius: 15px 15px;
  padding-left: 5px;
  box-shadow: 5px 5px 10px #d4d0d0;
  animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
  transition-duration: 4s;
  &:active {
    >.fa-check-circle {
      background-color: $color;
      padding-left: 20px;
      padding-right: 16px;
      padding-top:17px ;
      padding-bottom: 17px;
      border-top-right-radius: 15px 15px;
      border-bottom-right-radius: 15px 15px;
      transition-duration: 4s; 
      animation:roll-in-right .6s ease-out both;
    }
}
}

div.proj-food > p {
  animation: shadow-inset-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}
.proj-food__fonction > li > button {
  box-shadow: 5px 5px 10px #d4d0d0;
}

li > button.modif {
  padding-right: 50px;
}

p.new {
  position: absolute;
  right: 15px;
  color: #407235;
  background-color: #B8DFAF;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 3px 3px;
  padding-bottom: 7px;
}

.fa-arrow-left {
  margin-left: -59px;
  margin-top: 5px;
  color: black;
}

@keyframes shadow-inset-top {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  100% {
    box-shadow: inset 0 6px 14px -6px rgba(0, 0, 0, 0.5);
  }
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

.eat {
  animation: slide-top 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.eat1 {
  animation: slide-top 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.eat2 {
  animation: slide-top 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.menus {
  margin-top: 70px;
}
@media screen and (min-width: 400px) {
  div.title {
    font-size: 18px;
  }
  .entrees, .plats, .desserts{
    font-size: 18px;
  }
  .prix {
    font-size: 17px;
  }
  .name {
    font-size: 20px;
  }
  em {
    font-size: 17px;
  }
  header.proj > div > a {
    width: 20%;
margin-top: 5px;
  }
  .fa-arrow-left {
    font-size: 25px;
    margin-top: 0px;
    margin-left: -29px;
  }
  .image {
    margin-right: 50px;
  }
  .image2 {
    width: 100%;
    margin-left: -43px;
padding-left: 40px;
  }
  
}
@media screen and (min-width: 600px) {
  
  .fa-arrow-left {
    margin-top: 10px;
    margin-left: -70px; 
  }
  footer {
    text-align: center;
  }
  div.title {
    font-size: 20px;
  }
  .coeur {
    font-size: 25px;
}
.article {
  justify-content: space-around;
}
.article > div {
  width: 40%;
}
.liste {
  height: 600px;
}
}
@media screen and (min-width: 750px) {
  .menus {
    display: flex;
flex-direction: row;
flex-wrap: wrap;
  }
  .eat1, .eat2  {
    width: 55%;
  }
  .eat {
    width: 45%;
  }
  .eat2 {
    margin-left: 180px;
  }
  header.proj > div > a  {
    margin-top: 10px;
    margin-left: -80px;
  }
  .image {
    margin-left: -220px;
  }
  .commande > a {
    width: 40%;
  }
}
@media screen and (min-width: 1140px) {
 
  .proj-food__fonction {
    justify-content: space-around;
  }
  h2.titre {
    margin-top: -78px;
    margin-left: -700px;
    font-size: 40px;
  }
  .menus {
    display: flex;
justify-content: space-around;
margin-top: 120px;
  }
  .eat, .eat1, .eat2 {
    width: 33%;
  }
  
  .commande > a {
    width: 20%;
  }
  .image {
    width: 35%;
    margin-left: 150px; 
  }
  .fa-arrow-left{
    font-size: 30px;
    margin:0px;
  }
  header.proj > div  {
    justify-content: normal;
    display:flex;
    a{
      margin-top: 20px;
      margin-left:0px;
    }
  }
  .eat2 { 
  margin-left: 0px;
  }
  .coeur {
    font-size: 35px;
    position: absolute;
    top:390px;
  }
}
@media screen and (min-width:1400px){
  header.proj > div > a {
    margin-top: 40px;
  }
  .fa-arrow-left {
    font-size: 40px;
  }
}
 