/*---ANIMATION---*/
@keyframes transparence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*---HEADER---*/
body {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

.fa-arrow-left {
  position: absolute;
  margin-left: -90px;
  margin-top: 8px;
}

/*--ACCEUIL--*/
.acceuil {
  background-color: white;
}

.projet {
  animation: transparence 6s;
}

.spiner {
  object-fit: contain;
  height: 40px;
  border-radius: 0px 0px;
  animation: rotation 3s;
}

.loading {
  position: absolute;
  margin-top: 90%;
  margin-left: 12%;
  text-align: center;
  opacity: 0;
  animation: loading 6s;
}

.loader {
  color: #9356DC;
}

.fa-glass-martini-alt {
  font-size: 30px;
  margin-bottom: 10px;
  color: #9356DC;
}

.proj-food {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.proj > div {
  width: 100%;
  height: 20%;
  background-color: white;
  margin-top: -8px;
  padding-top: 5px;
  margin-left: -7px;
  padding-left: 12px;
  display: flex;
  justify-content: space-evenly;
}

.proj-food__image {
  width: 50%;
  height: 30%;
  border-radius: 0px 0px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
  padding-right: 156px;
  padding-left: 155px;
  padding-top: 5px;
  margin-top: -10px;
  margin-left: -9px;
}

header p {
  background-color: #EAEAEA;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0px;
  width: 100%;
  margin-left: -6px;
  padding-right: 10px;
  text-align: center;
}

header p input {
  border-width: 0px;
  background-color: #EAEAEA;
  text-align: center;
  font-weight: bolder;
}

/*---SECTION 1---*/
.image {
  height: 50%;
  border-radius: 0px 0px;
  width: 50%;
  object-fit: contain;
  margin-left: -70px;
}

.image2 {
  margin-left: -8px;
  width: 100%;
  border-radius: 0px 0px;
  padding-left: 20px;
  margin-left: -24px;
  height: 250px;
}

.proj-food__keep {
  width: 100%;
  font-size: 24px;
  text-align: center;
}

.proj-food__discover {
  width: 100%;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
}

strong {
  margin-right: 10px;
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 5px 8px;
}

/*---ACCEUIL---*/
.proj-food__operation {
  font-size: 22px;
}

.proj-food__resto, .commander {
  border: 0;
  padding: 10px 14px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.proj-food__resto:hover, .commander:hover {
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.presentation {
  text-align: center;
}

.proj-food__fonction {
  width: 95%;
  list-style: none;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.proj-food__fonction > li > button {
  width: 100%;
  box-shadow: 5px 5px 10px #d4d0d0;
  border-width: 0px;
  margin-bottom: 20px;
  border-radius: 15px 15px;
  background-color: #f7f7f7;
  cursor: pointer;
  font-weight: bold;
  padding: 20px 55px 20px 0px;
}

li > button.modif {
  padding-right: 60px;
}

.fa-ellipsis-v, .fa-mobile-alt, .fa-bars, .fa-store {
  color: #7E7E7E;
  margin-right: 5px;
}

.fa-ellipsis-v {
  margin-right: 0px;
}

.proj-food__fonction li button a {
  color: black;
  margin-left: 20px;
  font-weight: bold;
}

/*---SECTION 2---*/
.eat, .eat1, .eat2 {
  margin-bottom: 10px;
  max-width: 100%;
  overflow: hidden;
}

.eat {
  animation: transparence 1s;
}

.eat1 {
  animation: transparence 3s;
}

.eat2 {
  animation: transparence 5s;
}

.menus {
  margin-top: -30px;
}

.fa-heart:hover {
  color: #FF79DA;
  font-weight: 900;
  transition-duration: 3s;
  font-size: 29px;
}

.fa-heart {
  cursor: pointer;
  font-size: 26px;
}

.titre {
  padding: 10px 28px 28px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -50px;
  background-color: #f2f2f2;
  position: relative;
  border-radius: 20px 20px;
  margin-left: -8px;
  font-size: 18px;
}

.nomination {
  font-family: "Shrikhand", cursive;
}

.menu {
  width: 10%;
  font-family: "roboto", cursive;
}

.menu:hover {
  border-bottom: 3px solid #99E2D0;
}

.plat {
  background-color: #fff;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  padding: 1rem;
}

.description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.prix {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}

.nom, .commentaire {
  margin: 0px;
}

.nom {
  font-weight: 600;
}

.commentaire {
  opacity: 0.8;
}

.confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  margin-right: -5rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.plat:hover div.confirmation {
  margin-right: -1rem;
  transform: rotate(0);
}

.valider {
  height: 1.6rem;
  width: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.fa-check-circle {
  color: white;
  font-size: 23px;
}

.plat:hover .fa-check-circle {
  animation: rotation 1s;
}

.bouton > a {
  display: flex;
  justify-content: center;
}

.commander {
  width: 40%;
  text-align: center;
}

/*---ACCUEIL---*/
.liste {
  height: 1150px;
  width: 100%;
  background-color: #f2f2f2;
  padding: 7px;
  margin-left: -7px;
}

.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.article div {
  width: 100%;
  height: 240px;
  border-radius: 20px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 5px 5px 10px #d4d0d0;
  animation: transparence 4s;
}

img {
  width: 100%;
  height: 180px;
  border-top-right-radius: 20px 20px;
  border-top-left-radius: 20px 20px;
  object-fit: cover;
}

.btn {
  font-weight: bold;
  margin: 5px;
}

.btn__comment {
  margin: 5px;
  opacity: 0.7;
}

i.fas.fa-heart:hover {
  color: #FF79DA;
  font-weight: bold;
  font-weight: 900;
}

.coeur:hover {
  color: #9356DC;
  font-weight: bold;
  font-weight: 900;
}

i.fas.fa-heart {
  font-weight: inherit;
  display: flex;
  justify-content: flex-end;
  margin-top: -35px;
  width: 90%;
  font-size: 20px;
  transition-duration: 2s;
}

.menu {
  text-transform: uppercase;
  position: relative;
  font-weight: normal;
}

.coeur {
  position: absolute;
  margin-top: 45px;
  margin-left: 2px;
}

p.new {
  position: absolute;
  right: 15px;
  color: #008766;
  background-color: #99E2D0;
  font-weight: bold;
  font-size: 15px;
  padding: 7px;
}

/*---FOOTER---*/
/*---ACCUEIL---*/
footer {
  background-color: #353535;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  padding-left: 12px;
  margin-left: -7px;
}

footer a {
  color: white;
}

footer img {
  width: 45%;
  height: 30%;
  border-radius: 0px 0px;
  object-fit: contain;
  margin-left: 20px;
}

footer p {
  margin-left: 20px;
}

.fa-utensils, .fa-hands-helping {
  color: white;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
}

/*---MEDIA---*/
@media screen and (min-width: 700px) {
  header.proj > div > a {
    margin-top: 10px;
    margin-left: -80px;
  }

  .image {
    margin-left: -220px;
  }

  .commande > a {
    width: 40%;
  }

  img.image {
    width: 20%;
  }

  .fa-arrow-left {
    position: absolute;
    margin-left: -205px;
    margin-top: -8px;
  }

  .titre {
    padding: 10px 100px 28px 20px;
  }

  .restaurant {
    width: 70%;
    position: relative;
    left: 15%;
  }

  .titre {
    margin-top: 0px;
  }

  /*---ACCEUIL---*/
  .loading {
    margin-left: 30%;
  }

  /*---HEADER---*/
  div.proj-food {
    justify-content: space-around;
  }
  div.proj-food > p {
    width: 30%;
    margin-top: 15px;
  }

  .acceuil > div.projet > header {
    background-color: #f2f2f2;
    padding-left: 15px;
    margin-top: -7px;
    margin-left: -7px;
  }

  img.proj-food__image {
    margin-top: 20px;
    width: 30%;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
    padding: 0px;
  }

  .article {
    justify-content: space-around;
  }

  .article > div {
    width: 40%;
    position: relative;
  }

  .liste {
    height: 600px;
  }

  .loading {
    margin-top: 30%;
    margin-left: 30%;
  }

  /*---FOOTER---*/
  footer {
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  /*---HEADER---*/
  .fa-arrow-left {
    position: absolute;
    margin-left: -275px;
    margin-top: -4px;
  }

  /*---SECTION---*/
  .restaurant {
    left: 0%;
    width: 100%;
  }

  .menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .eat, .eat1, .eat2 {
    width: 30%;
  }

  .commander {
    width: 15%;
  }

  /*---ACCEUIL---*/
  .loading {
    margin-top: 30%;
    margin-left: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
