div.proj-food {
    justify-content: space-around;
  }
  div.proj-food > p {
    width: 30%;
    margin-top: 15px;
  }

  .acceuil > div.projet > header {
    background-color: #f2f2f2;
    padding-left: 15px;
    margin-top: -7px;
    margin-left: -7px;
  }

  img.header-image {
    margin-top: 20px;
    width: 30%;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
    padding: 0px;
  }